body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}

.header-container {
    width: 90%;
    max-width: 1200px;
    padding: 20px 20px 0;
    margin-top: 20px;
    text-align: center;
}

.header-container h1 {
    color: #221b73;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
    max-width: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#search-input {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    flex-grow: 1;
    background-color: #fff;
    outline: none;
    transition: all 0.3s ease;
}

#search-input:focus {
    background-color: #f7f9fc;
}

.search-box button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #221b73;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s;
    font-weight: bold;
    flex-shrink: 0;
}

.search-box button:hover {
    background-color: #0056b3;
}

.search-box button:active {
    transform: scale(0.98);
}
 
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
 
.app-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease;
}

.app-card:nth-child(odd) {
    background-color: #f1f8ff;
}
.app-card:nth-child(even) {
    background-color: #f9f9f9;
}

.app-logo {
    width: 38px;
    height: 38px;
    object-fit: contain;
    margin: 15px auto 0;
}

.app-content {
    padding: 15px;
    flex-grow: 1;
}

.app-name {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.app-description {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
    overflow: hidden;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    cursor: pointer;
    transition: all 0.3s ease;
}

.app-description.expanded {
    display: block;
    -webkit-line-clamp: unset;
    white-space: normal;
}

.download-btn {
    background-color: #221b73;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
    width: 180px;
    text-align: center;
    margin: 10px auto;
}

.download-btn:hover {
    background-color: #0056b3;
}
